.generaldiv {
    text-align: center;
}
#staticturn{

    padding: 50px;
    padding-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    padding-bottom: 70px;

}

#liveturn{
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    padding-bottom: 10%;
    padding-top: 20px;
}
#superboton {
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 9px solid #13141a;
    background-color: orange;
    cursor:pointer;
}
#superboton:hover{
    border: 5px solid #1c1d26;
}
#superboton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

#estilo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;

}

#vivoturno{
    margin-top: 50px;
    color: #B33232;
    font-style: italic;
    font-size: 25px;
}

#turnoquieto{
    margin-top: 8%;
}

#dentroturno{
    font-size: 36px;
}

#not{
    color: red;
    padding-top: 20%;
    text-align: center;
    font-size: 65px;
    text-shadow: -1px -1px 17px rgba(0, 0, 0, 0.68);

}

#notyet{
    color: #B50C0C;
}

#boton{

padding-top: 125px;
    text-align: center;

}
.stickyfloat_element {
    display:none;
  right: 0;
  text-align: center;
  position: absolute;
  width: 200px;
  height: 50px;
  line-height: 50px;
  background: #888;
  -webkit-transition: top 0.8s ease-in-out;
  transition: top 0.8s ease-in-out;
}

#yet{

    color: red;
    padding-top: 10%;
    text-align: center;
    font-size: 65px;
    text-shadow: -1px -1px 17px rgba(0, 0, 0, 0.68);


}

#cancelar {
    background-color: #B97575;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#aceptar{
     height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 9px solid #13141a;
    background-color: #48B506;
    cursor:pointer;
}

#aceptar:hover{
    border: 5px solid #1c1d26;
}
#aceptar:active{
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
}
#rechazar{
     height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 9px solid #13141a;
    background-color: #B51806;
    cursor:pointer;
}
#rechazar:hover{
    border: 5px solid #1c1d26;
}
#aceptar:active{
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
}
#yeah{
    background-color: #2b3d4c;
}
.espacio{
    padding-bottom: 75px;
}
