.generaldiv {
    text-align: center;
}
#static-turn{
    padding: 50px;
    padding-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;

}

#live-turn{
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#superboton {
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 9px solid #13141a;
    background-color: orange;
    cursor:pointer;
}
#superboton:hover{
    border: 5px solid #1c1d26;
}
#superboton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
  border: 10px solid white;
}

#estilo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;

}
