.generaldiv {
    text-align: center;
}
#static-turn{
    padding: 50px;
    padding-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;

}

#live-turn{
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 20px;
}
